/* Los estilos de tu proyecto */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

/* Navbar */
.logo-forma {
    width: 15vh;
}
/**/
.jumbotron-colors {
    background-color: #ffc107;
    border-radius: 0%;
    color: white;
    border-radius: 0px;
}

.jumbo-tranparent {
    padding: 20px;
    color: white;
}
/* La nueva app */
.app {
    background-color: #ffc107;
    outline: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 5vh;
}

.iphone {
    width: 30vh;
    position: center;
}

.container-app {
    background-color:  #ffc107;
    color: white;
}

.text-app {
  
    align-items: center; 
}
/* Conduce */
.container-conduce {
    color: white;
    background-image: url('../assets/images/conduce.jpg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

.jumbotron-app {
    background-color: transparent;
    height: 40vh;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 6px;
}

/* Tarifas */

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: transparent;
    border: transparent;
    border-radius: 0px;
}

.form-control {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color:white;
    background-color: transparent;
    background-image: none;
    border: 1px solid white;
    border-radius: 7px;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
.googlemaps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    
}

.rates {
    padding: 3rem;
}

/* Reautilizables */
.button-style {
    background-color: white;
    color: black;
}

.lab-colors {
    background-color: #ffc107;
    color: white;
}



/* // Extra small devices (portrait phones, less than 576px) */
        @media (max-width: 575px) {
            .hero{
                background-image: url('../assets/images/taxi.jpg');
                background-repeat: no-repeat;
                background-position: center 89%; 
                background-size: cover;
                height: 68vh;
                display: flex;
                align-items:center;
                justify-content:flex-end;
            }

            /* Comienza a viajar */
            .logo-blanco {
                width: 30px;
            }
        }

        
/* // Small devices (landscape phones, less than 768px) */
        @media (max-width: 767px) { 
            .hero{
                background-image: url('../assets/images/taxi.jpg');
                background-repeat: no-repeat;
                background-position: center 89%; 
                background-size: cover;
                height: 68vh;
                display: flex;
                align-items:center;
                justify-content:flex-end;
            }

            /* Comienza a viajar */
            .logo-blanco {
                width: 15vh;
            }
        }
        

 /* // Medium devices (tablets, less than 992px) */
        @media (max-width: 991px) { }
        
/* // Large devices (desktops, less than 1200px) */
        @media (max-width: 1199px) { ... }


        /* display: flex;
        align-items:center;
        justify-content:flex-end; */
/* display: flex;
align-items:center;
justify-content:flex-end; */
    /* .hero{
        background-image: url('../assets/images/taxi.jpg');
        background-size:100% auto;
        background-position-x: -75%;
        background-attachment: fixed;
        height: 400px;
        background-repeat: no-repeat; */        